{% extends "base.html" %}
{% include 'module/_upper_bar.html' %}
{% block body %}
    <div class="page-container" ng-controller="startCtrl">
        <div class="page-content-wrapper">
            <div class="content">
                <div class="start-center" style="text-align: center"> {{ UserEvalCount | angular}}개 평가하셨습니다! {{ UserLeftCount | angular}} 개 더 평가 해주세요!</div><br>
                <div ng-if="UserEvalCount > 9" style="margin: 0 auto; width: 120px">
                    <form action="{{ url_for('StartView:post') }}" method="POST">
                        <button type="submit" class="btn btn-primary btn-large">다음단계로</button>
                    </form>
                </div>
                <div ng-controller="RatingCtrl">
                    <div ng-repeat="i in foodlist">
                        <div class="card share col1" data-social="item">
                            <div class="card-description">

                                <img src="../static/assets/img/foods/kimchizzigae.jpg"/>
                                <div class="container-star-rating">
                                    {{i.foodName | angular}}
                                    <div ng-init="rating = star.rating + 1; i.rating = rating"></div>
                                    <div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="i.rating = rating" ng-click="sendrating(rating, i.foodName, '{{ current_user.id }}', $index)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


