<!-- 이미지 파일 링크-->

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="apple-touch-icon" href="{{ url_for('static', filename='pages/ico/60.png') }}">
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='pages/ico/76.png') }}">
<link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='pages/ico/120.png') }}">
<link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='pages/ico/152.png') }}">