<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for("MainView:index") }}">
                점심을 부탁해
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if not current_user.is_authenticated() %}
                    <li><a href="{{ url_for_security('forgot_password') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">비밀번호 찾기</a></li>
                {% else %}
                    <li><a href="{{ url_for_security('change_password') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">비밀번호 바꾸기</a></li>
                {% endif %}
            </ul>
            <!-- Right Nav -->
            <ul class="nav navbar-nav navbar-right">
                {% if not current_user.is_authenticated() %}
                    <li class="active"><a href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">
                        회원가입<span class="sr-only">(current)</span>
                    </a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">
                            로그인<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="facebook"><a href="{{ url_for('social.login', provider='Facebook') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">
                        <img src="/static/assets/img/facebook.png">
                        페이스북 로그인<span class="sr-only">(current)</span>
                    </a>
                    </li>
                    {% if security.confirmable %}#}
                        <li><a href="{{ url_for_security('send_confirmation') }}
                            {% if 'next' in request.args %}?next={{ request.args.next|urlencode }}
                            {% endif %}">메일 다시 보내기
                        </a>
                        </li>
                    {% endif %}
                {% else %} <!-- 로그인 중-->
                    <li class="active">
                        <a href="{{ url_for('AuthView:profile')}}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">
                            {% if current_user.last_name and current_user.first_name %}
                                {{ current_user.last_name+current_user.first_name }}
                            {% else %}
                                {{ current_user.email }}
                            {% endif %}
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('MainView:recommend')}} {% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}}">
                            추천받기<span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="active">
                        <a href="{{ url_for('LeaveView:get') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">
                            회원탈퇴<span class="sr-only">(current)</span>
                        </a>
                    </li>
                    {% if current_user.has_role('admin') %}
                        <li><a href="{{ url_for('AdminView:index') }}
                           {% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}"><i class="pg-settings_small"></i>
                            관리자
                        </a>
                        </li>
                    {% endif %}
                    <li class="active">
                        <a href="{{ url_for_security('logout') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">
                            로그아웃<span class="sr-only">(current)</span>
                        </a>
                    </li>

                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>