{% extends "security/security_base.html" %}
{% block h2 %}회원가입{% endblock %}
{% block form %}
    {% if login_failed %}
        <h3>Register with your {{ provider.name }} account: {{ connection_values['display_name'] }}</h3>
    {% endif %}
    <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
        {{ register_user_form.hidden_tag() }}
        {{ render_field_with_errors(register_user_form.email, placeholder="이메일", class="form-control") }}
        {{ render_field_with_errors(register_user_form.password, placeholder="최소 6글자", class="form-control") }}

        {% if register_user_form.password_confirm %}
            {{ render_field_with_errors(register_user_form.password_confirm, placeholder="비밀번호를 다시 입력하세요.", class="form-control") }}
        {% endif %}

        {{ render_field(register_user_form.submit, class="btn btn-primary col-md-6 pull-right mg-top") }}


    </form>

{% endblock %}
