/*

* Override Pages default styles or create your own styles here

*/
.rating{
    color: #a9a9a9;
    font-size: 30px;
    padding: 0;
}


.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: #FDD01C;
}

.flash {
    background: #cee5F5; padding: 0.5em;
    border: 1px solid #aacbe2;
}
.card.col1{
    margin: 0 10px 10px 0;
}

.main-right{
    margin-top: 30%;
    padding: 50px;
}

.main-right h1{
    text-align: center;
    margin: 40px;
}