/*

* Override Pages default styles or create your own styles here

*/
body {
    font-family: 'Nanum Gothic';
}

.rating {
    color: #a9a9a9;
    font-size: 30px;
    padding: 0;
}

.flash          { background: #cee5F5; padding: 0.5em;
    border: 1px solid #aacbe2; }

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: #FDD01C;
}

.flash {
    background: #cee5F5; padding: 0.5em;
    border: 1px solid #aacbe2;
}
.card.col1 {
    margin: 5px;
}

.main {
    /*background-image: url(../img/demo/background2.jpg);*/
    /*background-size: 100%;*/
    background-color: rgba(255,255,255,0.3);
    position: relative;
    width: 500px;
    margin: 13% auto;
    padding: 50px;
    border-radius: 10px;
}

.lock-icon button{
    -moz-transition:-moz-transform 0.2s ease-in;
    -webkit-transition:-webkit-transform 0.2s ease-in;
    -o-transition:-o-transform 0.2s ease-in;
}

.lock-icon button:hover{
    -moz-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    -o-transform:scale(1.2);
}

.card-description {
    position: relative;
    width: 232px;
    height: 200px;
    overflow: hidden;
    border-radius: 4px;
}

.card-description img {
    position: absolute;
    max-width: 180%;
    max-height: 180%;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
}

.container-star-rating {
    position: absolute;
    bottom: 0;
    width: calc(100% - 10px);
    text-align: center;
    font-size: 15px;
    color: #dddddd;
    background-color: rgba(1, 1, 1, 0.4);
    padding: 5px 0 3px 0;
    margin: 5px;
    border-radius: 5px;
}

.card.share .card-description img {
    margin: auto;
}

.card img {
    width: auto;
    max-width: 180%;
}

body > .wrap{
    background-image: url(../img/demo/background_re.jpg);
    background-size: 100%;
    min-height: 100%;
    min-width: 1920px;
    width: 105%;
    height: 105%;
    position: fixed;
    left: -1%;
    top: -1%;

}

.btn-block{
    height: 50px;

}



.main-footer{
    float: right;
    color: #ff3321;
}

.main-footer:hover{
    color: #ff4c3d;
}

label{
    color: #222222;
}

.mg-top{
    margin-top: 30px;
}

.recommend_wrap{
    background-color: #E4E4E4;
    background-size: 100%;
    min-height: 100%;
    min-width: 1920px;
    width: 105%;
    height: 105%;
    position: fixed;

}

.brand > img{
    height: 50px;
}

#index-logo{
    width: 100%;
    margin-bottom: 20px;

}

.btn-register{

    padding: 0;
    width: 100%;

}

.btn-login{
    float: left;
    padding: 0;
    width: 49%;

}

.btn-social{
    float: right;
    padding: 0;
    width: 49%;

}

.index-wrap{
    position: relative;
    height: 120px;
}

.index-header > img{
    display: block;
    width: 370px;
}

.index-footer{
    float: left;
    height: 20px;
    position: relative;
}

.index-button{
    float: left;
    width: 100%;

}

.index-header{
    position: relative;

}