{% extends "base.html" %}
{% block body %}
    {% from "module/_macros.html" import render_field_with_errors, render_field, social_login %}
    <div class="jumbotron">
        <h1>점심을 부탁해</h1>
        <p>점심을 부탁해는 당신의 점심을 책입집니다.
            <a href="{{ url_for('social.login', provider='Facebook') }}">
                <button class="btn btn-block btn-complete" type="button">
                    <img src="{{url_for('static', filename='assets/img/facebook.png')}}"/>
                    <span class="bold">페이스북 로그인해서 시작하기</span>
                </button>
            </a>
        </p>
    </div>
{% endblock %}
