{% extends "base.html" %}
{% block body %}
    <h1 class="error-number">404</h1>
    <h2 class="semi-bold">죄송합니다. 페이지를 찾을 수 없습니다.</h2>
    <p>당신이 찾는 페이지가 존재하지 않습니다. <a href="#">질문하기</a></p>
    <div class="col-sm-9 no-padding">

        <p><small>
            <img alt="" class="m-t-5" data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60"
                 src="{{ url_for('static', filename='assets/img/demo/pages_icon.png') }}" width="60">
            <a href="{{ url_for_security('register') }}">
                회원가입</a>을 하셨나요?
            <a href="#">페이스북</a>이나 <a href="#">구글</a>
            계정이 있으시다면 바로 <a href="{{ url_for_security('login') }}">로그인</a>하세요!
        </small>
        </p>
    </div>
{% endblock %}