{% extends "base.html" %}
{% block body %}
  <body class="fixed-header error-page  ">
    <div class="container-xs-height full-height">
      <div class="row-xs-height">
        <div class="col-xs-height col-middle">
          <div class="error-container text-center">
            <h1 class="error-number">404</h1>
            <h2 class="semi-bold">죄송합니다. 서버 내부 요류가 발생했습니다.</h2>
            <p>관리자에게 <a href="#">질문하기</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="pull-bottom sm-pull-bottom full-width">
      <div class="error-container">
        <div class="error-container-innner">
          <div class="m-b-30 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            <div class="col-sm-3 no-padding">
              <img alt="" class="m-t-5" data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60"
                   src="{{ url_for('static', filename='assets/img/demo/pages_icon.png') }}" width="60">
            </div>
            <div class="col-sm-9 no-padding">
              <p><small>
                  <a href="{{ url_for_security('register') }}">
                      회원가입을 하셨나요?</a>.
                  <a href="#">페이스북</a>이나 <a href="#">구글</a>
                    계정이 있으시다면 바로 로그인하세요!
                    </small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}