{% extends "base.html" %}
{% block body %}
    <h1 class="error-number">404</h1>
    <h2 class="semi-bold">죄송합니다. 서버 내부 요류가 발생했습니다.</h2>
    <p>관리자에게 <a href="#">질문하기</a></p>
    <p>
        <small>
            <img alt="" class="m-t-5" data-src="assets/img/demo/pages_icon.png" data-src-retina="assets/img/demo/pages_icon_2x.png" height="60"
                 src="{{ url_for('static', filename='assets/img/demo/pages_icon.png') }}" width="60">
            <a href="{{ url_for_security('register') }}">
                회원가입을 하셨나요?</a>.
            <a href="#">페이스북</a>이나 <a href="#">구글</a>
            계정이 있으시다면 바로 로그인하세요!
        </small>
    </p>
{% endblock %}