<!DOCTYPE html>
<html lang="en" data-ng-app="app" ng-controller="AppCtrl">
<head>
    <title>{{ self | quoted }} - 점심을 부탁해</title>
    <!-- js에서 flask 구문을 쓸 수 있음 -->
    {{ JSGlue.include() }}

    {% include 'module/_metaset.html' %}
    {% include 'module/_images.html' %}
    {% include 'module/_stylesheet.html' %}
    {% include 'module/_dependency.html' %}

    {% block head %}
    {% endblock %}
</head>

<body class="fixed-header" ng-class="{
'bg-master-lighter': is('app.extra.timeline'),
'no-header': is('app.social') || is('app.calendar') || is('app.maps.vector') || is('app.maps.google'),
'menu-pin' : app.layout.menuPin,
'menu-behind' : app.layout.menuBehind
 }">

{% for flash in get_flashed_messages() %}
    <script>alert("{{ flash }}");</script>
{% endfor %}

{% block body %}
{% endblock %}
</body>
</html>
