<!DOCTYPE html>
<html lang="en" data-ng-app="app" ng-controller="AppCtrl">
<head>
    <title>{{ self | quoted }} - 점심을 부탁해</title>

    {% include 'module/_metaset.html' %}
    {% include 'module/_images.html' %}
    {% include 'module/_stylesheet.html' %}
    {% include 'module/_dependency.html' %}

    {% block head %}
    {% endblock %}
</head>

<body class="fixed-header" ng-class="{
'bg-master-lighter': is('app.extra.timeline'),
'no-header': is('app.social') || is('app.calendar') || is('app.maps.vector') || is('app.maps.google'),
'menu-pin' : app.layout.menuPin,
'menu-behind' : app.layout.menuBehind
 }">
<div id="fb-root"></div>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '684002831732805', // 앱 ID
            status     : true,          // 로그인 상태를 확인
            cookie     : true,          // 쿠키허용
            xfbml      : true           // parse XFBML
        });

        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {

                FB.api('/me', function(user) {
                    if (user) {
                        var image = document.getElementById('image');
                        image.src = 'http://graph.facebook.com/' + user.id + '/picture';
                        var name = document.getElementById('name');
                        name.innerHTML = user.name
                        var id = document.getElementById('id');
                        id.innerHTML = user.id
                    }
                });

            } else if (response.status === 'not_authorized') {

            } else {

            }
        });

        FB.Event.subscribe('auth.login', function(response) {
            document.location.reload();
        });
    };

    // Load the SDK Asynchronously
    (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/ko_KR/all.js";
        ref.parentNode.insertBefore(js, ref);
    }(document));
</script>


{% block body %}
{% endblock %}
{% include "module/_messages.html" %}
</body>
</html>
