<!DOCTYPE html>
<html lang="en" data-ng-app="app" ng-controller="AppCtrl">
<head>
    <title>{{ self | quoted }} - 점심을 부탁해</title>

    {% include 'module/_metaset.html' %}
    {% include 'module/_images.html' %}
    {% include 'module/_stylesheet.html' %}
    {% include 'module/_head_dependency.html' %}

    {% block head %}
    {% endblock %}
</head>

<body class="fixed-header" ng-class="{
'bg-master-lighter': is('app.extra.timeline'),
'no-header': is('app.social') || is('app.calendar') || is('app.maps.vector') || is('app.maps.google'),
'menu-pin' : app.layout.menuPin,
'menu-behind' : app.layout.menuBehind
 }">

{% block body %}
{% endblock %}
{% include 'module/_body_dependency.html' %}
</body>
</html>