<!DOCTYPE html>
<html lang="en" ng-app="app">
 <script src="../../static/js/angular.min.js"></script>
 <script src="../../static/js/admin.js"></script>
<body ng-controller="subCtrl">

<form name="form" ng-submit="submitData(formData)">
    <div class="form">
        <input type="text" name="foodName"  ng-model="formData" />
        <button type="submit">Submit!</button>
    </div>
</form>

{% for a in default %}
    <p>{{a.foodName}}</p>
{% endfor %}

<p ng-repeat="user in tempData.users">{{ user.name | angular }}</p>

</body>
</html>